@import './reset.css';

html,
body {
    background-color: #303030;
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#app {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
